.app-container {
  color : #333;
  

}
.list-container{
  display: grid;
  background-color: rgb(182, 159, 143);
  border: 2px solid black;
  grid-template-columns: repeat(5, 1fr);
  width: 900px;
  height: 700px;
  margin-top: 30px;
  padding: 50px;
  
  
}

ul li{
  list-style: none;
  border: 2px solid black;
  height: 200px;
  margin: 10px;
  
  
  
}
.color-box{
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  color: rgb(165, 16, 165);
}
.car-name{
  font-weight: bold;
  margin-top: 20px;
  
}